{% extends "legacyPWM/base.html" %}
{% load pagination_extras %}
{% block header %}
    <title>
        {% if filterBy %}
            Gefilterte Autoren
        {% else %}
            Alle Autoren
        {% endif %}
    </title>
{% endblock header %}

{% block body %}
    <main class="ext-container audiob-authors-content">
        <h1>Autoren</h1>
        {% if filterBy and filterValue %}
        <h2>{{ filterBy }} : {{ filterValue }}</h2>
        {% endif %}
        <h2></h2>
        <div class="termine-terminliste">
            {% for author in authors %}
                <a href="{% url 'author_details' author.id %}"> {{ author }} </a>
            {% endfor %}
        </div>
        {% if authors.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if authors.has_previous %}
                    <a class="pagination-a-as-btn" href="{% replace_add_get_key_value request 'page' 1 %}"><<</a>
                    <a class="pagination-a-as-btn" href="{% replace_add_get_key_value request 'page' authors.previous_page_number %}"><</a>
                {% endif %}
                {% for i in authors.paginator.page_range %}
                    {% if i == authors.number %}
                        <a class="pagination-a-as-btn current-page" href="{% replace_add_get_key_value request 'page' i %}">{{ i }}</a>
                    {% elif i > authors.number|add:'-3' and i < authors.number|add:'3' %}
                        <a class="pagination-a-as-btn" href="{% replace_add_get_key_value request 'page' i %}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if authors.has_next %}
                    <a class="pagination-a-as-btn" href="{% replace_add_get_key_value request 'page' authors.next_page_number %}">></a>
                    <a class="pagination-a-as-btn" href="{% replace_add_get_key_value request 'page' authors.paginator.num_pages %}">>></a>
                {% endif %}
            </div>
        {% endif %}
        <a class="termine-a-as-btn" href="{% url 'author_new' %}">Neuen Autor hinzufügen</a>
        <form method="GET">
            <div class="termine-filter-form">
                <div class="termine-filter-form-input">
                    <div class="termine-wrap-select">
                        <select id="filterBy" name="filterBy">
                            <option disabled selected hidden>Filter:</option>
                            <option value="title">Titel</option>
                            <option value="vorname">Vorname</option>
                            <option value="zweitname">Zweitname</option>
                            <option value="nachname">Nachname</option>
                            <option value="alias">Alias</option>
                            <option value="anzeigename">Angezeigter Name</option>
                        </select>
                    </div>
                    <div class="termine-wrap-input">
                        <input class="termine-inp" type="text" id="filterValue" name="filterValue" placeholder="Filter-Wert">
                    </div>
                </div>
                <button class="termine-filter-btn" type="submit">Filtern!</button>
            </div>
        </form>
    </main>
{% endblock body %}