{% extends "legacyPWM/base.html" %}
{% load static %}
{% block header %}
    <script defer src="{% static 'legacyPWM/new_audiobook.js' %}"></script>

    <title>Neues Hörbuch</title>
{% endblock header %}

{% block body %}
    <main class="ext-container audiob-audiob-new-content">
        <h1>Neues Hörbuch</h1>
        <form method="POST">
            {% csrf_token %}
            <p>{{ audiobook.authors }}</p>
            <p>{{ audiobook.name }}</p>
            <p>
                <label for="id_release_book">Erscheinungsdatum (Originales Buch):</label>
                <input type="date" name="release_book" id="id_release_book">
            </p>
            <p>
                <label for="id_release_book_germany">Erscheinungsdatum (Deutsche Fassung):</label>
                <input type="date" name="release_book_germany" id="id_release_book_germany">
            </p>
            <p>
                <label for="id_release_as_audio">Erscheinungsdatum (Audiobuch):</label>
                <input type="date" name="release_as_audio" id="id_release_as_audio">
            </p>
            <p>{{ audiobook.synopsis }}</p>
            <p><label for="id_ro_ss">Hörbuch Typ:</label>{{ audiobook.ro_ss }}</p>
            <p><label for="id_shortened">Gekürzt:</label>{{ audiobook.shortened }}</p>
            <p><label for="id_boxset">Teil eines Boxset:</label>{{ audiobook.boxset }}</p>
            <p>{{ audiobook.boxset_name }}</p>
            <p><label for="id_mp3CD">Mp3 CD:</label>{{ audiobook.mp3CD }}</p>
            <p><label for="id_digital_only">Nur Digital:</label>{{ audiobook.digital_only }}</p>
            <p><label for="id_amount_CDs">CDs</label>{{ audiobook.amount_CDs }}</p>
            <p>{{ audiobook.genre }}</p>
            <p>{{ audiobook.comments }}</p>
            <p><label for="id_runtime">Laufzeit</label>{{ audiobook.runtime }}</p>
            <button class="termine-create-btn" type="submit">Erstellen!</button>
        </form>
    </main>
{% endblock body %}