{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>
        {{ termin.termin_name }} Löschen?
    </title>
{% endblock header %}

{% block body %}
    <main class="ext-container termine-delete-content">
        <h1>Termin Löschung</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="termine-del-desciption">
                Sicher, dass der Termin<br>
                "{{ termin.termin_name }}"<br>
                {% if termin.end %}
                    vom<br>
                    {{ termin.date|date:"d.m.Y" }} um {{ termin.date|date:"H:i" }} Uhr<br>
                    bis zum<br>
                    {{ termin.end|date:"d.m.Y" }} um {{ termin.end|date:"H:i" }} Uhr<br>
                {% else %}
                    am<br>
                    {{ termin.date|date:"d.m.Y" }} um {{ termin.date|date:"H:i" }} Uhr<br>
                {% endif %}
                    gelöscht werden soll?
            </div>
            <div class="termine-del-submits">
                <button class="termine-del-btn" type="submit">Löschen!</button>
                <a class="termine-a-as-btn termine-del-a-btn" href="{% url 'termine_details' termin.id %}">Abbrechen</a>
            </div>
        </form>
    </main>
{% endblock body %}