{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>
        {{ termin.termin_name }} Details
    </title>
{% endblock header %}

{% block body %}
    <main class="ext-container termine-details-content">
        <h1>{{ termin.termin_name }}</h1>
        <h2>Details</h2>
        <label>Für:</label><div class="termin-details-detail">{{ termin.user }}</div>
        <label>Beginnt:</label><div class="termin-details-detail">{{ termin.date|date:"d.m.Y" }} um {{ termin.date|date:"H:i" }} Uhr</div>
        {% if termin.end %}
            <label>Endet:</label><div class="termin-details-detail">{{ termin.end|date:"d.m.Y" }} um {{ termin.end|date:"H:i" }} Uhr</div>
        {% endif %}
        <label>Erinnerung:</label><div class="termin-details-detail">{% if termin.reminder %}Aktiv{% else %}Inaktiv{% endif %}</div>
        <label>Kommentar:</label><div class="termin-details-detail">{{ termin.comment }}</div>
        <a class="termine-a-as-btn termine-details-a-btn" href="{% url 'termine_home' %}">Zurück</a>
        <a class="termine-a-as-btn termine-details-a-btn" href="{% url 'termine_delete' termin.id %}">Löschen</a>
    </main>
{% endblock body %}