{% extends "legacyPWM/base.html" %}
{% load static %}
{% block header %}
    <title>Neuer Termin</title>
    <script src="{% url 'js-catalog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    {{ termine.media }}
{% endblock header %}
{% block body %}
    <h1 class="mt-5" style="display:block;font-size:3em;font-weight:bold;color:white;">Neuer Termin</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ termine.errors }}
        {{ termine.non_field_errors }}
        <div>{{ termine.user }}</div><br>
        <div>{{ termine.termin_name }}</div><br>
        <div>{{ termine.comment }}</div><br>
        <div><div style="margin-bottom:5px">&ndash;&ndash; Startdatum &ndash;&ndash;</div>{{ termine.sdt }}</div><br>
        <div><div style="margin-bottom:5px">&ndash;&ndash; Enddatum (optional) &ndash;&ndash;</div>{{ termine.endsdt }}</div><br>
        <br>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock body %}