{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>Neuer Termin</title>
{% endblock header %}

{% block body %}
    <main class="ext-container termine-neu-content">
        <h1>Neuer Termin</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="termineu-block">
                <label for="id_user" class="termineu-label">Nutzer:</label>
                {{ termine.user }}
            </div>
            <div class="termineu-block">{{ termine.termin_name }}</div>
            <div class="termineu-block">{{ termine.comment }}</div>
            <div class="termineu-block">
                <label for="id_reminder" class="termineu-label">Erinnerung?</label>
                <input type="checkbox" id="id_reminder" name="reminder">
            </div>
            <div class="termineu-mininfo">---- Startdatum</div>
            <div class="termineu-block">
                <label for="id_sdt_0" class="termineu-label">Datum:</label>
                <input type="date" name="sdt_0" id="id_sdt_0" required>
            </div>
            <div class="termineu-block">
                <label for="id_sdt_1" class="termineu-label">Uhrzeit:</label>
                <div class="termineu-time-info"><input type="time" name="sdt_1" id="id_sdt_1" required></div>
            </div>
            <div class="termineu-mininfo">---- Enddatum (optional)</div>
            <div class="termineu-block">
                <label for="id_endsdt_0" class="termineu-label">Datum:</label>
                <input type="date" name="endsdt_0" id="id_endsdt_0">
            </div>
            <div class="termineu-block">
                <label for="id_endsdt_1" class="termineu-label">Uhrzeit:</label>
                <div class="termineu-time-info"><input type="time" name="endsdt_1" id="id_endsdt_1"></div>
            </div>
            <button class="termine-create-btn" type="submit">Erstellen!</button>
        </form>
    </main>
{% endblock body %}