{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>
        {% if filterBy %}
            Gefilterte Termine
        {% else %}
            Alle Termine
        {% endif %}
    </title>
{% endblock header %}

{% block body %}
    <main class="ext-container termine-main-content">
        <h1>Termine</h1>
        {% if filterBy %}
            <h2>{{ filterBy }}: {{ filterValue }}</h2>
        {% else %}
            <h2>Übersicht</h2>
        {% endif %}
        <div class="termine-terminliste">
            {% for termin in termine %}
                <a href="{% url 'termine_details' termin.id %}"> {{ termin }} </a>
            {% endfor %}
        </div>
        <a class="termine-a-as-btn" href="{% url 'termine_new' %}">Neuer Termin</a>
        <form method="GET">
            <div class="termine-filter-form">
                <div class="termine-filter-form-input">
                    <div class="termine-wrap-select">
                        <select id="filterBy" name="filterBy">
                            <option disabled selected hidden>Filter:</option>
                            <option value="user">Nutzername</option>
                            <option value="termin_name">Terminname</option>
                        </select>
                    </div>
                    <div class="termine-wrap-input">
                        <input class="termine-inp" type="text" id="filterValue" name="filterValue" placeholder="Nutzer- oder Terminname">
                    </div>
                </div>
                <button class="termine-filter-btn" type="submit">Filtern!</button>
            </div>
        </form>
    </main>
{% endblock body %}