{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>
        {% if filterBy %}
            Gefilterte Termine
        {% else %}
            Alle Termine
        {% endif %}
    </title>
{% endblock header %}
{% block body %}
    <h1 class="mt-5">Termine:</h1>
    {% if filterBy %}
        <div class="small">({{ filterBy }}: {{ filterValue }})</div>
    {% endif %}
    <br>
    {% for termin in termine %}
        <a class="mb-1" href="{% url 'termine_details' termin.id %}"> {{ termin }} </a> <br>
    {% endfor %}
    <div class=" mt-5">
        <a class="btn btn-secondary" href="{% url 'termine_new' %}">Neuer Termin</a>
    </div>
    <div class=" mt-5">
        <form method="GET">
            Filter:
            <select class="ml-2" id="filterBy" name="filterBy">
                <option disabled selected hidden>Filter</option>
                <option value="user">Nutzername</option>
                <option value="termin_name">Terminname</option>
            </select>
            <br>
            Wert:
            <input class="mt-2 ml-2" type="text" id="filterValue" name="filterValue" placeholder="Nutzer- oder Terminname">
            <br>
            <button class="mt-3 btn btn-secondary" type="submit">Filtern!</button>
        </form>
    </div>
{% endblock body %}