{% extends "legacyPWM/base.html" %}
{% block header %}
    <title>
        {% if filterBy %}
            Gefilterte Termine
        {% else %}
            Alle Termine
        {% endif %}
    </title>
{% endblock header %}
{% block body %}
    <h1 class="mt-5">Termine:</h1>
    {% if filterBy %}
        <div class="small">({{ filterBy }}: {{ filterValue }})</div>
    {% endif %}
    <br>
    {% for termin in termine %}
        <a class="mb-1" href="{% url 'termine_details' termin.id %}"> {{ termin }} </a> <br>
    {% endfor %}
{% endblock body %}