{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yonkiepoodle/Andreas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'legacyPWM/favicon.ico' %}" type="image/x-icon">

    <!-- Include own CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'legacyPWM/additional.css' %}">

    <!-- further meta tags, title and more stuff specific to the html-doc -->
    {% block header %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="base-header base-bars" href="{% url 'legacy_manager' %}">Legacy PWM</a></li>
                <li><a class="base-header base-bars" href="{% url 'termine_home' %}">Termine</a></li>
            </ul>
        </nav>
    </header>
    <!-- <main class="ext-container ...-content" </main> within 'block body' (otherwise padding problems) -->
    {% block body %}{% endblock %}
</body>
</html>