{% extends "legacyPWM/base.html" %}
{% block header %}
    <!-- further meta tags, title and more specific to the html-doc -->
    <title>legacyPWM</title>
{% endblock header %}

{% block body %}
    <main class="ext-container legacy-content">
        <h1>Passwort Manager</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="pwm-form">
                <input class="pwm-inp" type="text" id="uname" name="uname" {% if uname %} value="{{ uname }}" {% endif %} placeholder="Username" required><br>
                <input class="pwm-inp" type="password" id="passw" name="passw" {% if passw %} value="{{ passw }}" {% endif %} placeholder="Password" required><br>
                <input class="pwm-inp" type="text" id="site" name="site" {% if site %} value="{{ site }}" {% endif %} placeholder="Website" required><br>
                <span class="pwm-span">
                    <label for="len" class="pwm-label">Length: </label>
                    <select id="len" name="len">
                        <option value="1" {% if len == "1" %} selected="selected" {% endif %}>1</option>
                        <option value="2" {% if len == "2" %} selected="selected" {% endif %}>2</option>
                        <option value="4" {% if len == "4" %} selected="selected" {% endif %}>4</option>
                        <option value="8" {% if len == "8" %} selected="selected" {% endif %}>8</option>
                        <option value="16" {% if len == "16" or not len %} selected="selected" {% endif %}>16</option>
                        <option value="32" {% if len == "32" %} selected="selected" {% endif %}>32</option>
                    </select><br>
                </span>
                <span class="pwm-span">
                    <label for="nums" class="pwm-label"> Numbers?</label>
                    <input type="checkbox" {% if num == "yes" or not num %} checked="checked" {% endif %} id="nums" name="nums" value="num"><br>
                </span>
                <span class="pwm-span">
                    <label for="specs" class="pwm-label"> Specials Chars?</label>
                    <input type="checkbox" {% if spec == "yes" or not spec %} checked="checked" {% endif %} id="specs" name="specs" value="spec"><br>
                </span>
            </div>
            <button class="pwm-submit-btn" type="submit">Passwort<br>erstellen!</button>
        </form>
        {% if result %}
            <h2>{{ result }}</h2>
        {% endif %}
    </main>
{% endblock body %}